@import "../static/_scss/fontawesome";
@import "../static/_scss/fontawesome/fa-brands";
@import "../static/_scss/fontawesome/fa-solid";
@import "../static/_scss/fontawesome/fa-regular";

@import "../static/_scss/nord";
@import "../static/_scss/materialize";

/*
body {
  color: lighten($nord3, 50%);
  background-color: $nord1;
}
*/

/* Space out content a bit */
body, form, ul, table {
  margin: 0px; padding: 0;
}

/* Phoenix flash messages */
.alert:empty { display: none; }

nav { background-color: $secondary-color; }

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}

.logo {
  width: 519px;
  height: 71px;
  display: inline-block;
  margin-bottom: 1em;
  background-image: url("/images/phoenix.png");
  background-size: 519px 71px;
}

div.identity {
  padding-right: 10px;
  float: right;
}
div.identity > a {
  margin-left: 10px;
}

div.loggeduser > img {
  display: inline-block;
  color: #fff;
  position: relative;
  overflow: hidden;
  z-index: 1;
  height: 40px;
  line-height: 40px;
  padding: 0;
  background-color: #B48EAD;
  border-radius: 50%;
  transition: .3s;
  cursor: pointer;
  vertical-align: middle;
}
div.loggeduser > button {
  box-shadow: none !important;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing {
  padding-right: 15px;
  padding-left: 15px;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

/* Supporting marketing content */
.marketing {
  margin: 35px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
